<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>sign-app</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>characterFilter</filter-name>
		<filter-class>filter.CharsetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>user.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AppServlet</display-name>
		<servlet-name>AppServlet</servlet-name>
		<servlet-class>app.AppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppServlet</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MissionServlet</display-name>
		<servlet-name>MissionServlet</servlet-name>
		<servlet-class>mission.MissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MissionServlet</servlet-name>
		<url-pattern>/mission</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignServlet</display-name>
		<servlet-name>SignServlet</servlet-name>
		<servlet-class>sign.SignServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignServlet</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
</web-app>